.Teeth{
    background-color: #f4f4f9;
}
.Teeth h2{
    color: #1e90ff;
    text-align: center;
}
.Service{
    text-align: center;
}
.Implant{
    text-decoration: line-through;
}
.Implant a{
    color:black
}
.Brace {
    font-weight: bold;
}
.Treat{
    letter-spacing: 3px;
}