.body{
    width: 98.8%;
     background-color: rgb(255, 255, 255);
    height: 538px;
    text-align: center;
     padding-top: 5px;
    margin-left: 10px;
}



.form-box{
    width:300px;
     margin:40px auto;
    text-align:center;
}

label{
    display:block;
    margin-top: 15px;
    margin-bottom:5px;
      font-weight:bold;
    color:#006d6f;
}

input, select, textarea{
    width:100%;
     padding:6px;
    border:1px solid #333;
    box-sizing:border-box;
     font-size:14px;
}

textarea{
    resize:none;
    height:70px;
}

button{
    margin-top:15px;
    padding:8px 25px;
     background:#00b4b4;
    border:2px solid #005f5f;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
      background:#009a9a;
}
input:focus{
    background-color: rgb(205, 253, 248);
}
input{
     border-radius: 5px;
}
select{
    border-radius: 5px;
}
select:focus{
    background-color: rgb(205, 253, 248);
}
textarea{
    border-radius: 5px;
     resize: both;
}
textarea:focus{
    background-color: rgb(205, 253, 248);
}