.header1{
     margin-left: 10px;
    width: 98%;
    height: 42px;
     background-color: rgb(206, 248, 241);
    text-align: center;
}



.header_menu a:hover{
    color: #fff;
    background-color: rgb(4, 97, 154);
}

.body table{
    margin-left: 10px;
}
.body table thead tr{
    background-color: rgb(200, 236, 255);
    color: rgb(17, 81, 116);
    font-size: 18px;
    font-weight: 600;
}
.body table tbody tr{
    background-color: rgb(255, 255, 255);
}
.body table tbody tr:hover{
    background-color: rgb(228, 244, 252);
}

.footer{
    margin-left: 10px;
    width: 98%;
    height: 54px;
     background-color: rgb(35, 130, 123);
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}
.footer p{
    color: white;
    margin: 2px;
}